.about-outline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 40px;
    margin-top: 3vh ;
    margin-bottom: 3vh;
}

/* .about-heading{
  margin-bottom: 0%;
  justify-self: center;
} */
  
.about-img {
  box-shadow: 0 8px 8px #6A1E55;
  margin-right: 20px;
  border-radius: 10px;
}

.about-content{
  text-align: justify;
  margin-right: 2vw;
}

.about-content p{
  flex: 2;
  color: rgb(0, 0, 0);
  font-size: 1.2em;
  line-height: 2;
}

.about-image{
  width: 20vw;
  height: 50vh;
  border-radius: 8px;
}
  