.contact-container {
    /* max-width: 1200px; */
    margin: 0 auto;
    /* padding: 50px 20px; */
    text-align: center;
}

.contact-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 60vw;
  height: 45vh;
}

.contact-info {
  flex: 1;
  padding: 20px;
  margin-bottom: 4vh;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 20vw;
  align-self: center;
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
}

.contact-info ul {
  list-style: none;
  padding: 0;
}

.contact-info ul li {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  margin-bottom: 10px;
  text-align: left;
}

.contact-info ul li i {
  font-size: 20px;
  margin-right: 10px;
  /* color: #90c788; */
}

.contact-info ul li a{
  text-decoration: none;
  color: black;
}
 
.contact-img {
  width: 20vw;
  height: 40vh;
  /* margin-bottom: 5vh; */
}

.contact-img-container{
  width: 25vw;
  height: 45vh;
  border-radius: 10px;
  /* border: solid #6A1E55; */
  margin-bottom: 5vh;
  padding: 10px;
}