.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: rgb(155, 6, 155);
    padding: 1rem 2rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 500;
    /* justify-content: center; */
    height: 5vh;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    /* float: left; */
    /* padding-bottom: 10px; */
    justify-content: center;
}
  